.landing {
  overflow: hidden;
  color: #fff;
  max-width: 2100px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #0e3800; }
  .landing * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.block {
  position: relative; }
  .block__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative; }

.scroll-button {
  position: absolute;
  width: 110px;
  height: 155px;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10; }
  .scroll-button__button {
    border: 0;
    background-color: transparent;
    padding: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    z-index: 3;
    display: block; }
  .scroll-button:before {
    content: '';
    display: block;
    position: absolute;
    width: -webkit-calc(100% + 40px);
    width: calc(100% + 40px);
    height: -webkit-calc(100% + 40px);
    height: calc(100% + 40px);
    left: -20px;
    top: -20px;
    background: url("../img/button.png");
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    z-index: 1; }
  .scroll-button:after {
    content: '';
    display: block;
    width: 22px;
    height: 13px;
    position: absolute;
    bottom: 34px;
    background: url("../img/arrow.png") no-repeat center center;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    z-index: 2;
    left: 50%;
    margin-left: -11px;
    -webkit-animation: anim 1s both infinite;
            animation: anim 1s both infinite; }

@-webkit-keyframes anim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0; } }

@keyframes anim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0; } }

.cover-box {
  position: relative; }
  .cover-box:before {
    content: '';
    display: block;
    padding-top: 100%; }
  .cover-box img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.ww {
  width: 100%;
  height: auto; }

.wh {
  height: 100%;
  width: auto; }
